<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <h1>Create Recipe!</h1>
    <a href="/dashboard">back to recipes</a>
    <a href="/logout">Logout</a>
</header>
<main>
    <form action="/create_dish/push" method="post">
        <div>
        <label for="dish_name">Dish Name:</label>
        <input type="text" name="dish_name"><br><br>
        <label for="descrption">Descrption:</label>
        <textarea type="text" name = 'dish_desc'>asd</textarea><br><br>
        <label for="instructions">instructions</label>
        <textarea name = 'dish_instrust'>asd</textarea><br><br>
        </div>
        <div>
            <p>Date cooked/Made:</p>
            <input name ='date' type="date">
            <p>Under 30 mins?</p>
            <input type="radio" name="cook_time" id="">
            <label  name="cook_time" value ='yes'>yes</label>
            <input type="radio" name="cook_time" id="">
            <label  name="cook_time" value ='no'>no</label>
        </div>
        <input type="hidden" value="{{session['user_id']}}" name="user_id">
        <input type='submit' value="Create">
    </form>
</main>
</body>
</html>