<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <h1>Edit Recipe!</h1>
    <a href="">back to recipes</a>
    <a href="/logout">Logout</a>
</header>
<main>
    <form action="">
        <div>
        <label for="">Dish Name:</label>
        <input type="text"><br><br>
        <label for="">Descrption:</label>
        <textarea name = >asd</textarea><br><br>
        <label for="">instructions</label>
        <textarea name = >asd</textarea><br><br>
        </div>
        <div>
            <p>Date cooked/Made:</p>
            <input type="date">
            <p>Under 30 mins?</p>
            <input type="radio" name="Yes" id="">
            <label for="">yes</label>
            <input type="radio" name="Yes" id="">
            <label for="">no</label>
        </div>
    </form>
</main>
</body>
</html>